<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-sm mt-5">
      <div class="card-body p-4">
        <h1 class="h3 mb-3 fw-normal text-center">Log in</h1>
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: 'form-control', placeholder: "name@example.com" %>
          </div>

          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
          </div>

          <div class="d-grid gap-2">
            <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
