<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>TV Shows</h1>
  <%= link_to 'New TV Show', new_tv_show_path, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>Title</th>
        <th>Season</th>
        <th>Episode</th>
        <th>Network</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tv_shows.each do |tv_show| %>
        <tr>
          <td><%= tv_show.title %></td>
          <td><%= tv_show.season %></td>
          <td><%= tv_show.episode %></td>
          <td><%= tv_show.network %></td>
          <td>
            <%= link_to 'Show', tv_show, class: "btn btn-sm btn-outline-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
