<h1><%= @wrestling_event.title %></h1>
<p>Promotion: <%= @wrestling_event.promotion %></p>
<p>Date: <%= @wrestling_event.date %></p>
<p>Venue: <%= @wrestling_event.venue %></p>
<%= link_to 'Back', wrestling_events_path %>
