<h1><%= @comic.title %></h1>
<p>Issue: <%= @comic.issue_number %></p>
<p>Publisher: <%= @comic.publisher %></p>
<p>Writer: <%= @comic.writer %></p>
<p>Artist: <%= @comic.artist %></p>
<%= link_to 'Back', comics_path %>
