<h1>Recent Media</h1>
<% @recent_items.each do |item| %>
  <div class="media-item">
    <h3><%= item.title %> (<%= item.class.name %>)</h3>
    <p>Added: <%= item.created_at.strftime("%B %d, %Y") %></p>
    <% if item.cover_art.attached? %>
      <%= image_tag item.cover_art, style: "max-width: 100px; max-height: 100px;" %>
    <% end %>
    <%= link_to "View", item %>
  </div>
<% end %>
