<h1><%= @album.title %></h1>
<p>Artist: <%= @album.artist %></p>
<p>Release Year: <%= @album.release_year %></p>
<p>Genre: <%= @album.genre %></p>
<p>Publication Date: <%= @album.publication_date %></p>
<p>Listened On: <%= @album.listened_on %></p>

<% if @album.cover_art.attached? %>
  <p>
    <strong>Cover Art:</strong><br>
    <%= image_tag @album.cover_art, style: "max-width: 300px; max-height: 300px;" %>
  </p>
<% end %>

<%= link_to 'Back', albums_path %>
