<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul class="nav-links">
        <li><%= link_to "Comics", comics_path %></li>
        <li><%= link_to "TV Shows", tv_shows_path %></li>
        <li><%= link_to "Wrestling Events", wrestling_events_path %></li>
        <li><%= link_to "Movies", movies_path %></li>
        <li><%= link_to "Albums", albums_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

<main class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
</main>

<footer>
  <div class="container">
    <p>&copy; 2024 Media Inventory App</p>
  </div>
</footer>

</body>
</html>
